## Series数据结构简介，序列的创建

1. Series数据结构简介

 * Series是一种一维标记型数组结构，
 * 能保存任何数据类型
 * 包含数据索引，索引自动创建。也可使用index参数手动添加。
 * 类似于python的字典dict数据结构

2. Series序列的创建

三种方法：python列表创建，numpy列表创建，python字典创建

In [5]:
import pandas as pd
import numpy as np

In [4]:
#1.通过列表创建，包含元组序列等python数据列表
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
#2. 传入numpy数组
s2 = pd.Series(np.arange(6))
s2

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [10]:
# 为序列传入索引，使用index参数。索引长度必须和数据长度相同。
s2 = pd.Series(np.arange(6), index=['a','b','c','d','e','f'])
s2

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [13]:
# 获取Series值，返回python数组
print(s2.values)
print('*'*20)
print(s2.index)

[0 1 2 3 4 5]
********************
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [15]:
print(s1.values)
print('*'*20)
print(s1.index)

[1 2 3 4 5]
********************
RangeIndex(start=0, stop=5, step=1)

In [17]:
# 3. 通过字典创建
d = {
    'name':'虾米',
    'age':20,
    'class':'三版'
}
d

{'name': '虾米', 'age': 20, 'class': '三版'}

In [20]:
#字典是无序数据输出顺序不固定
s3 = pd.Series(d)
s3

name     虾米
age      20
class    三版
dtype: object

In [21]:
# 按照顺序指定索引。指定顺序时的索引需要大于等于原字典的索引。此处与列表创建不同。
s4 = pd.Series(d,index=['name','age','class'])
s4

name     虾米
age      20
class    三版
dtype: object

In [23]:
# 如果传入的字典和索引大于字典数据长度，会产生一个NAN数据。
s5 = pd.Series(d,index=['name','age','class','sex'])
s5

name      虾米
age       20
class     三版
sex      NaN
dtype: object

In [26]:
# 字符串作为列表，创建Serise列表时并不分开
pd.Series('小名是个小学生')

0    小名是个小学生
dtype: object