## Pandas通过索引查找数据

内容介绍:索引与python的切片原理相同，生成一个数据视图

In [2]:
import numpy as np
import pandas as pd

In [33]:
# 示例数据
s0 = pd.Series(range(5))
print(s0)
s1 = pd.Series(range(5),index=['a','b','c','d','e'])
print(s1)
df0 = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['A','B','C'])
df0

0    0
1    1
2    2
3    3
4    4
dtype: int64
a    0
b    1
c    2
d    3
e    4
dtype: int64

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

### 1.Series查找数据的方式

In [6]:
# （1）使用位置索引查找数据
s0[1]

1

In [9]:
# （2）使用标签索引查找数据
s1['a']

0

In [11]:
# （3）切片索引查找数据,基于位置索引的方式
s1[1:3]

b    1
c    2
dtype: int64

In [13]:
# （4）切片索引查找数据，基于标签切片进行查找
# 标签索引与位置索引不同，前后标签都包含。
# 一般python的索引不包含终止部分。但此处的标签索引不同。
s1['a':'c']

a    0
b    1
c    2
dtype: int64

In [15]:
# （5）不连续索引。双层中括号[]
s1[['a','c']]

a    0
c    2
dtype: int64

In [18]:
# （6）使用位置索引进行不连续取数
s1[[0,2]]

a    0
c    2
dtype: int64

In [22]:
# (7)布尔索引。与numpy类似的使用方式
print(s1>1)
s1[s1>1]

a    False
b    False
c     True
dtype: bool

c    2
dtype: int64

### 2. DataFrame索引查找数据

对于获取的一维数据，返回的是Series数据类型

In [24]:
# (1)列索引取值
df0['A']

a    0
b    3
c    6
Name: A, dtype: int32

In [26]:
# (2)列不连续索引取值
df0[['A','C']]

   A  C
a  0  2
b  3  5
c  6  8

In [28]:
# (3)获取具体的某个元素。实际上先获取列，之后便是Series获取数据的方式
df0['A'][0]

0

In [30]:
# (4)切片的方法。此时，默认获取的是行。
df0[:2]

   A  B  C
a  0  1  2
b  3  4  5

### 3.DataFrame高级索引

* 3.1 loc标签索引

In [36]:
#loc索引是基于标签名的索引。自定义的索引名。
s1.loc['a':'c']

a    0
b    1
c    2
dtype: int64

In [41]:
#loc是基于标签的索引。因此内部的都是标签参数。用逗号分隔的分别是行和列。
df0.loc['a':'b','A':'B']

   A  B
a  0  1
b  3  4

* 3.2 iloc位置索引

In [46]:
s1.iloc[0]

0

In [48]:
s1.iloc[0:2]

a    0
b    1
dtype: int64

In [50]:
df0.iloc[0:2,0:2]

   A  B
a  0  1
b  3  4

* 3.3 ix标签和位置混合索引

在0.20.0开始，.ix索引器已被弃用，赞成更加严格.iloc 和.loc索引

In [51]:
#如果数据中同时存在自动生成的数字索引及标签，不建议使用这种方式
s1.ix[0:2]

AttributeError: 'Series' object has no attribute 'ix'