## Pandas:排序方法介绍

内容介绍:分为按照索引排序和按照值排序两种

In [22]:
import numpy as np
import pandas as pd

In [24]:
np.random.randint(3,4)

3

In [25]:
# 示例数据
s0 = pd.Series(range(4),index=list('dbca'))
print(s0)
df0 = pd.DataFrame(np.random.randint(-5,9,size=(4,3)),index=['d','a','b','c'],columns=['B','A','C'])
df0

d    0
b    1
c    2
a    3
dtype: int64

   B  A  C
d  4  4 -4
a  0 -3 -3
b -3 -5 -2
c -2  8  1

### 1.按索引排序

Series排序

In [6]:
#默认升序排序
s0.sort_index()

a    3
b    1
c    2
d    0
dtype: int64

In [7]:
#输入参数指定排序方式,ascending= False降序排序
s0.sort_index(ascending= False)

d    0
c    2
b    1
a    3
dtype: int64

In [10]:
#默认按照行排列，升序
df0.sort_index()

   B   A   C
a  3   4   5
b  6   7   8
c  9  10  11
d  0   1   2

In [11]:
#如果需要按照列排序，那么需要指定axis参数
#升序和降序的参数为ascending= 
df0.sort_index(axis=1)

    A  B   C
d   1  0   2
a   4  3   5
b   7  6   8
c  10  9  11

### 2.按值排序

In [14]:
s1 = s0.reindex(list('abcd'))
s1

a    3
b    1
c    2
d    0
dtype: int64

In [16]:
#按照值进行排序。如果数据中有缺失值默认排在最后
#默认升序排列
s1.sort_values()

d    0
b    1
c    2
a    3
dtype: int64

In [17]:
# 需要改变排序方式的时候使用参数ascending= 
s1.sort_values(ascending= False)

a    3
c    2
b    1
d    0
dtype: int64

In [26]:
# DataFrame的数据排序，必须强制指定行列标签
# 默认升序排列
df0.sort_values(by='A')

   B  A  C
b -3 -5 -2
a  0 -3 -3
d  4  4 -4
c -2  8  1

In [27]:
#针对多行排序
df0.sort_values(by=['A','B'])

   B  A  C
b -3 -5 -2
a  0 -3 -3
d  4  4 -4
c -2  8  1

In [29]:
#需要改变排序方式的时候使用参数ascending= 
df0.sort_values(by='A',ascending=False)

   B  A  C
c -2  8  1
d  4  4 -4
a  0 -3 -3
b -3 -5 -2

In [31]:
#针对行排列时，需要指定axis=1
df0.sort_values(by='a',axis=1)

   A  C  B
d  4 -4  4
a -3 -3  0
b -5 -2 -3
c  8  1 -2