## Pandas-统计计算和描述

* 内容介绍:pandas具有一组常用的统计方法
* 官网中关于基本函数的介绍:https://pandas.pydata.org/docs/user_guide/basics.html

In [2]:
import numpy as np
import pandas as pd

In [4]:
# 示例数据
s0 = pd.Series(range(5),index=['d','b','c','a','e'])
print(s0)
df0 = pd.DataFrame(np.random.randint(40,100,size=(4,3)),index=['d','b','c','a'],columns=['B','A','C'])
df0

d    0
b    1
c    2
a    3
e    4
dtype: int64

    B   A   C
d  47  82  45
b  46  58  76
c  52  65  56
a  83  45  93

In [10]:
df0.loc['a','C']=None
df0.loc['c','A']=None
df0.loc['c']=None
df0

      B     A     C
d  47.0  82.0  45.0
b  46.0  58.0  76.0
c   NaN   NaN   NaN
a  83.0  45.0   NaN

### 1.求和运算及其他统计基本运算

主要的参数如下：


|序号|参数|说明|
|----|----|----|
|01|axis|约简的轴。DataFrame的行用0,列用1|
|02|skipna|排除缺失值，默认值为True，即计算时排除缺失值|
|03|level|如果轴是层次化索引的(即MultiIndex)，则根据level分组简约|

In [8]:
#sum()函数默认求dataframe列的和
df0.sum()

B    228.0
A    185.0
C    177.0
dtype: float64

In [12]:
#如果求行的和，可以设置axis参数为1
df0.sum(axis=1)

d    174.0
b    180.0
c      0.0
a    128.0
dtype: float64

In [14]:
#涉及缺失值的情况，可以使用skipna参数
# skipna参数，默认为Ture即排除缺失值。当为False时，不排除缺失值，那么求和出现了NaN
df0.sum(axis=1,skipna=False)

d    174.0
b    180.0
c      NaN
a      NaN
dtype: float64

In [18]:
#inxmax返回最大值的索引
df0.idxmax()

B    a
A    d
C    b
dtype: object

In [19]:
#cumsum()样本值的累计求和公式
df0.cumsum()

       B      A      C
d   47.0   82.0   45.0
b   93.0  140.0  121.0
c    NaN    NaN    NaN
a  176.0  185.0    NaN

### 2.综合统计结果describe

使用比较广泛，获取数据后可以先使用此方法查看数据的综合情况

In [21]:
# 常用的数据综合统计表示方法
df0.describe()

               B          A         C
count   3.000000   3.000000   2.00000
mean   58.666667  61.666667  60.50000
std    21.079216  18.770544  21.92031
min    46.000000  45.000000  45.00000
25%    46.500000  51.500000  52.75000
50%    47.000000  58.000000  60.50000
75%    65.000000  70.000000  68.25000
max    83.000000  82.000000  76.00000

In [23]:
s2 = pd.Series(['a','d','g','e','f']*4)
s2

0     a
1     d
2     g
3     e
4     f
5     a
6     d
7     g
8     e
9     f
10    a
11    d
12    g
13    e
14    f
15    a
16    d
17    g
18    e
19    f
dtype: object

In [24]:
# describe可以根据数据的情况自动选择显示结果
s2.describe()

count     20
unique     5
top        a
freq       4
dtype: object

In [26]:
# describe可以根据数据的情况自动选择显示结果
s0.describe()

count    5.000000
mean     2.000000
std      1.581139
min      0.000000
25%      1.000000
50%      2.000000
75%      3.000000
max      4.000000
dtype: float64

### 3.主要函数

|NO.|Function|Description|说明(中文)|
|----|----|----|----|
|01|count|Number of non-NA observations|非空数值的统计|
|02|sum|Sum of values|求和|
|03|mean|Mean of values|求平均值|
|04|mad|Mean absolute deviation|返回所请求轴的值的平均绝对偏差|
|05|median|Arithmetic median of values|求中值|
|06|min|Minimum|求最小值|
|07|max|Maximum|求最大值|
|08|mode|Mode|获取沿所选轴的每个元素的模式|
|09|abs|Absolute Value|求绝对值|
|10|prod|Product of values|返回所请求轴的值的乘积。|
|11|std|Bessel-corrected sample standard deviation|求标准差|
|12|var|Unbiased variance|求方差|
|13|sem|Standard error of the mean|返回所请求轴上的平均值的无偏标准误差|
|14|skew|Sample skewness (3rd moment)||
|15|kurt|Sample kurtosis (4th moment)|使用Fisher的峰度定义（正常的峰度== 0.0）在请求的轴上返回无偏峰度。|
|16|quantile|Sample quantile (value at %)||
|17|cumsum|Cumulative sum|返回数据轴上累计求和|
|18|cumprod|Cumulative product|返回数据轴上累计乘积|
|19|cummax|Cumulative maximum|返回数据轴上累计最大值|
|20|cummin|Cumulative minimum|返回数据轴上累计最小值|