## Pandas-通过索引修改数据

内容介绍:通过索引修改数据，是通过基本的标签索引或者是高级索引修改数据。<br>
通过索引修改的数据，会改变原有的基础数据。

In [1]:
import numpy as np
import pandas as pd

In [6]:
# 示例数据
s0 = pd.Series(range(3))
print(s0)
s1 = pd.Series(range(3),index=['a','b','c'])
print(s1)
df0 = pd.DataFrame(np.arange(9).reshape(3,3),index=['a','b','c'],columns=['A','B','C'])
df0

0    0
1    1
2    2
dtype: int64
a    0
b    1
c    2
dtype: int64

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

### 对Serise的修改

In [7]:
#默认索引修改
s0[1] = 999
s0

0      0
1    999
2      2
dtype: int64

In [10]:
# 通过标签修改
s1['a'] = 555
s1

a    555
b      1
c      2
dtype: int64

In [14]:
# 也可以通过默认的整数索引修改
s1[1] = 888
s1

a    555
b    888
c      2
dtype: int64

### 对DataFrame的修改

In [18]:
# (1)通过标签修改
df0['A'] = 88
df0

    A  B  C
a  88  1  2
b  88  4  5
c  88  7  8

In [21]:
# (2)给dataframe赋值一个序列
df0['B'] = [30,70,90]
df0

    A   B  C
a  88  30  2
b  88  70  5
c  88  90  8

In [23]:
# (3)通过点标签进行修改
df0.C = 666
df0

    A   B    C
a  88  30  666
b  88  70  666
c  88  90  666

In [28]:
# (4)修改行数据，使用高级索引-标签索引进行修改
df0.loc['a'] = 23
df0

    A   B    C
a  23  23   23
b  88  70  666
c  88  90  666

In [30]:
# (5)使用高级索引loc可以单独修改某个元素
df0.loc['a','A'] = 1000
df0

      A   B    C
a  1000  23   23
b    88  70  666
c    88  90  666

In [27]:
df0

    A   B    C
a  23  23   23
b  88  70  666
c  88  90  666