## Pandas:函数apply和applymap

 *内容介绍:pandas数据(dataframe\series)基于numpy数组构建，因此numpy的函数可以用于处理dataframe数据。
 
 * 这是使用apply和applymap的主要场景。
 * 也可查看：https://www.cnblogs.com/jason--/p/11427145.html

In [1]:
import numpy as np
import pandas as pd

In [18]:
# 示例数据
s0 = pd.Series(range(3))
print(s0)
df0 = pd.DataFrame(np.arange(-5,4).reshape(3,3),index=['a','b','c'],columns=['A','B','C'])
df0

0    0
1    1
2    2
dtype: int64

   A  B  C
a -5 -4 -3
b -2 -1  0
c  1  2  3

### 0.直接使用numpy函数处理

In [19]:
# 直接使用numpy函数处理
np.abs(df0)

   A  B  C
a  5  4  3
b  2  1  0
c  1  2  3

### 1.apply函数

In [6]:
# 通过apply将函数应用到列或者行中
# 默认是针对列进行的计算,axis=0
f = lambda x:x.max()
df0.apply(f)

A    1
B    2
C    3
dtype: int64

In [7]:
# apply需要计算行数据的时候，指定axis参数即可
df0.apply(f,axis=1)

a   -3
b    0
c    3
dtype: int64

### 2.Series的map函数

 * map()是Series对象的一个函数，map()的功能是将一个自定义函数作用于Series对象的每个元素。
 * 也可以使用pd.Series.map(list)将python序列作为参数传入进行操作
 * 返回值为Series对象

In [12]:
f2 = lambda x: 20*x

In [33]:
#当选取DataFrame的某一列时，即为Series数据对象
df0['A'].map(f2)

a   -100
b    -40
c     20
Name: A, dtype: int64

In [20]:
#也可以直接针对Series数据序列进行函数操作
s0.map(f2)

0     0
1    20
2    40
dtype: int64

In [31]:
#直接使用map函数针对可迭代对象(Series)操作，Python 3.x 返回迭代器
list(map(f2,df0['A']))

[-100, -40, 20]

### 3.applymap函数

In [10]:
df2 = pd.DataFrame(np.random.rand(3,4))
df2

          0         1         2         3
0  0.021951  0.242599  0.743581  0.958851
1  0.108983  0.018835  0.372838  0.715459
2  0.307184  0.007238  0.674295  0.613122

In [13]:
# 通过applymap函数针对每个元素进行计算
f2 = lambda x: '%.2f'%x  #数据保留两位小数
df2.applymap(f2)

      0     1     2     3
0  0.02  0.24  0.74  0.96
1  0.11  0.02  0.37  0.72
2  0.31  0.01  0.67  0.61