## Pandas-唯一值和成员属性的判断函数

内容介绍:<br>
针对Series:<br>
unique()、index.is_unique、value_counts()、isin<br>
针对DataFrame:
isin

In [2]:
import numpy as np
import pandas as pd

In [11]:
# 示例数据.创建数据时，标签可以重复。
s0 = pd.Series(np.random.randint(0,9,size=(7)),index=['d','b','c','a','e','a','e'])
print(s0)
df0 = pd.DataFrame(np.random.randint(-9,9,size=(4,3)),index=['d','b','c','a'],columns=['B','A','C'])
df0

d    1
b    8
c    2
a    8
e    1
a    6
e    3
dtype: int32

   B  A  C
d -8 -4 -2
b  0 -3  7
c  8 -9  0
a  8 -3  3

### 1. unique()函数返回数组的唯一值

 * Series的应用

In [12]:
#返回的一个一维数组
s0.unique()

array([1, 8, 2, 6, 3])

In [14]:
#求索引的唯一值。由于索引可以不唯一。
s0.index.unique()

Index(['d', 'b', 'c', 'a', 'e'], dtype='object')

In [16]:
#判断是否全部为唯一值
s0.index.is_unique

False

In [17]:
#返回值出现的个数
s0.value_counts()

1    2
8    2
2    1
6    1
3    1
dtype: int64

In [19]:
#判断成员是否存在。传入的参数为一个数组。返回一个bool类型的数组。
s0.isin([8])

d    False
b     True
c    False
a     True
e    False
a    False
e    False
dtype: bool

In [21]:
#也可判断多个值
s0.isin([8,1])

d     True
b     True
c    False
a     True
e     True
a    False
e    False
dtype: bool

 * dataframe的应用-成员属性

In [25]:
# 返回一个布尔型的数组
df0.isin([8])

       B      A      C
d  False  False  False
b  False  False  False
c   True  False  False
a   True  False  False