## Pandas-数据分组聚合的补充知识

内容介绍:灵活的分组方式

In [2]:
import numpy as np
import pandas as pd

In [4]:
idx = pd.Index(['李小刚','小花','张小敏','小强','小明'],name='姓名')
cls = pd.Index(['语文','英语','数学'],name='科目')
df00 = pd.DataFrame(np.random.randint(50,98,size=(5,3)),index=idx,columns=cls)
df00['班级']=['二班','一班','二班','一班','一班']
df00['性别']=['男','女','男','女','男']
df00

科目   语文  英语  数学  班级 性别
姓名
李小刚  68  55  92  二班  男
小花   74  58  53  一班  女
张小敏  59  52  69  二班  男
小强   76  84  51  一班  女
小明   65  82  90  一班  男

### 1.通过列的字典分组:

In [5]:
km = {'语文':'主科','数学':'主科','英语':'副科','物理':'副科'}

In [6]:
#按照列的字典（主科副科）的方式分组
#字典对应的列名才能统计出数据。字典不对应，或者字典对应的列名比数据中的多，不影响计算。
g5 = df00.groupby(km,axis=1).sum()
g5

      主科  副科
姓名
李小刚  160  55
小花   127  58
张小敏  128  52
小强   127  84
小明   155  82

### 2.类字典的Series数据进行分组:

In [7]:
#通过类似字典的Series数据进行分组
s5 = pd.Series(km)
s5

语文    主科
数学    主科
英语    副科
物理    副科
dtype: object

In [8]:
g51 = df00.groupby(s5,axis=1).sum()
g51

      主科  副科
姓名
李小刚  160  55
小花   127  58
张小敏  128  52
小强   127  84
小明   155  82

### 3.通过函数进行分组：

In [10]:
#实际上传入的函数，针对行索引进行了长度计算，得出2个字和三个字两类进行分组
df00.groupby(len).sum()

科目   语文   英语   数学
2   215  224  194
3   127  107  161