## Pandas

内容介绍:

In [2]:
import numpy as np
import pandas as pd

In [3]:
# 示例数据
s0 = pd.Series(range(5),index=['d','b','c','a','e'])
print(s0)
df0 = pd.DataFrame(np.random.randint(-9,9,size=(4,3)),index=['d','b','c','a'],columns=['B','A','C'])
df0

d    0
b    1
c    2
a    3
e    4
dtype: int64

   B  A  C
d  4  5  8
b -8  3  3
c  4  6 -5
a  1  2  6

### 1.

### 2.

### 3.